@model List<Work>
<section id="section6">
	<div class="container">
		<h2>Projelerim ve Çalışmalarım</h2>
		<div class="portfolio-wrapper">
			<div id="portfolio-filters" class="portfolio-filters">
				<button class="button solid-button white-purple small" data-filter="*">Hepsini Göster</button>
				<button class="button solid-button white-purple small" data-filter=".branding">Mobil</button>
				<button class="button solid-button white-purple small" data-filter=".print">Web Uygulaması</button>
				<button class="button solid-button white-purple small" data-filter=".motion">Veri Analizleri</button>
				<button class="button solid-button white-purple small" data-filter=".websites">Tasarımlarım</button>
			</div>
			<div id="portfolio" class="portfolio">
				@foreach(var item in Model)
				{
					<div class="item branding print">
						<img src="@item.ImageUrl" alt="alt text" class="img-responsive">
						<a href="single-portfolio.html" class="overlay">
							<div class="background"></div>
							<div class="meta">
								<span class="title">@item.Title</span>
								<span class="category">@item.SubTitle</span>
							</div> <!-- end .meta -->
						</a> <!-- end .overlay -->
					</div>
				}

			<div class="portfolio-load-more">
				<a href="single-portfolio.html" class="button solid-button white icon-right">Load More Work<i class="md-refresh"></i></a>
			</div> <!-- end .portfolio-load-more -->
		</div> <!-- end .portfolio-wrapper -->
	</div> <!-- end .container -->
</section>